@import "utils/vars";
@import "utils/fonts";
@import "utils/reset";
@import "modules/header";
@import "modules/footer";
@import "modules/about-us";
@import "modules/coverage-map";
@import "modules/brands";
@import "modules/logistics";
@import "modules/digital";
@import "modules/team";
@import "modules/news";
@import "modules/news-page";
@import "modules/vacansies-page";
@import "modules/contacts-page";
@import "modals/_all";
@import "utils/slick";


html{
  
  scroll-behavior: smooth;
}


body {
  padding: 0;
  font-family: $mainFont;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  background-color: $white;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { 
  margin: 0; 
}

a { 
  color: black;
  line-height: 19px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: grid;
  margin: 0 auto;
  max-width: $desktopWidth;
  padding: 0 60px;
  &::before, &::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    margin-top: -20px;
    background: #E9E9E9;
    z-index: -1;
  }

  &::before{
    left: 35.3%;
  }
  &::after{
    right: 35.3%;
  }
}

.header, .footer {
  .container{
      &::before{
          display: none;
        }
  }
}
.button-type-one{
  font-weight: 600;
  line-height: 20px;
  color: $white;
  text-align: center;
  padding: 15px 30px;
  background-color: $violet;
  border-radius: 6px;
  cursor: pointer;
  transition: all .4s ease-out;
  &:hover{
    background-color: $darkViolet;
  }

}
.button-type-none{
  background-color: transparent;
  cursor: pointer;
}
.input-type-one{
  padding: 14px 30px 16px 20px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  border-radius: 6px;
}
.lock{
  overflow: hidden;
}
.lock-burger{
  overflow: hidden;
}
.state {
  stroke:dodgerblue;
  transform-origin: center center;
  transform-box: fill-box;
  transition:  0.5s;
  }
  
  :hover.state {
    stroke:$violet;
    stroke-width:3px;
    fill: $darkViolet;
    z-index: 10000;
    cursor: pointer;

   
   }
  .dn{
    display: none;
  }
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  height: 120px;
  margin-top: -60px;
  margin-left: -180px;
  img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded {
  .preloader {
    display: none;
  }

}

  @media (max-width:1900px  ){
    .container {
      &::before{
        left: 33.3%;
      }
      &::after{
        right: 33.3%;
      }
    }
  }
@media (max-width: 1100px){
  .container {
    padding: 0 30px;
  }
  
}
@media (max-width: 870px){
  .container {
    padding: 0 20px;
  }
}
@media (max-width: $ipadWidth){
  .preloader__image {
    width: 60%;
    height: 72px;
    margin-left: -100px;
    img{
    }
  }
  iframe {
    margin-top: 30px;
  }
  .input-type-one{
    padding: 14.5px 16px 16.5px;
    font-size: 14px;
    line-height: 17px;
  }
  .container {
    padding: 0 20px;
    &::before, &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      margin-top: -20px;
      background: #E9E9E9;
      z-index: -1;
    }
    
    &::before{
      display: none;
    }
    &::after{
      right: 50% !important;
    }
  }

}
@media (max-width: 600px){
  body {
    font-size: 14px;
    line-height: 20px;
  }
  
  .button-type-one{
    line-height: 18px;
  }


}