@font-face {
	font-family: "Qanelas";
	src: url("/assets/fonts/Qanelas-Regular.eot");
	src: url("/assets/fonts/Qanelas-Regular.woff") format("woff"),url("/assets/fonts/Qanelas-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Qanelas";
	src: url("/assets/fonts/Gilroy-Bold.eot");
	src: url("/assets/fonts/Qanelas-Bold.woff") format("woff"),url("/assets/fonts/Qanelas-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
