@import "news-modal";
@import "cv-modal";
@import "contact-modal";

.modal_bg {
	width: 100%;
	height: 100%;
    backdrop-filter: blur(6px);
	min-height: 100vh;
    position: fixed;
	top: 0;
    background: rgba(0, 0, 0, 0.5);
	z-index: 20;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s;
	&.active {
		visibility: visible;
		opacity: 1;
	}
    .button-type-none{
        position: absolute; 
        top: 40px;
        right: 40px;
    }
	.container{
		&::before, &::after{
			display: none;
		}
	}
}
[data-aos="clip-right"] {
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	transition-property: clip-path, transform;
	&.aos-animate {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		opacity: 1;
	}
}
[data-aos="clip-top"] {
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transform: translateY(40px);
	transition-property: clip-path, transform;
	&.aos-animate {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		opacity: 1;
		transform: translateY(0px);
	}
}
[data-aos="clip-down"] {
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	transform: translateY(10px);
	transition-property: clip-path, transform;
	&.aos-animate {
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
		opacity: 1;
		transform: translateY(0px);
	}
}
@media (max-width: $ipadWidth){
	.modal_bg {
		.button-type-none{
			position: absolute; 
			top: -45px;
			opacity: 0.7;
			right: -5px;
			filter: grayscale(1) invert(1);
		}
		h2{

			font-size: 24px;
			line-height: 32px;
		}
	}
}
