/** @format */

.contact-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__wrapper {
    margin: auto;
    max-width: 1070px;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
  }
  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 300px 80px 330px;
  }
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: $violet;
    margin-bottom: 30px;
    &.mod-thanks{
      margin: 100px auto;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .textarea {
      height: 160px;
    }
  }
}

@media (max-width: 1200px) {
  .contact-modal__wrap {
    padding: 60px 150px 80px 165px;
  }
}

@media (max-width: $ipadWidth) {
  .contact-modal {
    .contact-modal__wrap {
      padding: 30px 20px;
    }
  }
  .contact-modal__form{
    gap: 12px;
  }
}
