/** @format */

.cv-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__label {
    cursor: pointer;
    text-align: center;
    p {
      line-height: 19px;
      text-align: center;
      max-width: 203px;
      margin: 16px auto 0;
      color: $darkGray;
    }
  }
  &__file {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}

@media (max-width: $ipadWidth) {
  .cv-modal {
    .contact-modal__form .textarea {
      height: 130px;
    }
    .contact-modal__wrap {
      padding: 30px 20px;
    }
  }
}
