/** @format */

.about-us {
  img {
    border-radius: 16px;
  }
  .container {
    margin-top: 128px;
    margin-bottom: 63px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 120px;
  }
  &__statistics {
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 40px 0;
    &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      color: $violet;
    }
    &__parasite {
      display: grid;
      grid-gap: 40px;
      &__block {
        display: flex;
        gap: 20px;
      }
    }
    &__cards {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__card {
      background: $gray;
      text-align: center;
      padding: 12px 0;
      border-radius: 12px;
      :first-child {
        color: $violet;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
      }
      :last-child {
        font-size: 16px;
        line-height: 19px;
      }
      .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        :last-child {
          margin-top: 2px;
        }
      }
    }
  }
  &__history {
    p {
      margin-top: 20px;
      text-align: justify;
    }
  }
  &__group-compani {
    img {
      border-radius: 0;
    }
    &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__cards {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 40px;
    }
    &__card {
      border: 2px solid transparent;
      border-radius: 16px;
      padding: 2px;
      &:hover {
        transition: 0.3s !important;
        border: 2px solid $lightViolet;
      }
      img {
        margin-bottom: 20px;
        border-radius: 10px;
        &.logo {
          margin-bottom: 12px;
          border: 1px solid transparent;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .about-us {
    .container {
      grid-gap: 0 80px;
    }
    &__statistics,
    &__history {
      margin-top: 0;
    }
    &__statistics__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .about-us__group-compani__cards {
    gap: 5px;
  }
}
@media (max-width: 1020px) {
  .about-us {
    .container {
      grid-gap: 0 40px;
    }
  }
}
@media (max-width: 900px) {
  .about-us {
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "s h"
        "g g";
      grid-gap: 20px 40px;
    }

    &__statistics {
      grid-area: s;
    }
    &__history {
      grid-area: h;
    }
    &__group-compani {
      grid-area: g;
      &__card {
        display: flex;
        flex-direction: column;

        img {
          border-radius: 0;
        }
      }

      .ideal-logo {
        height: 48px;
        width: 36px;
      }
      .tochka-logo {
        height: 24px;
        width: 79.2px;
      }
      .fortuna-logo {
        height: 24px;
        width: 45px;
      }
      .bon-buasson-logo {
        height: 48px;
        width: 55px;
      }
    }
  }
}
@media (max-width: $ipadWidth) {
  .about-us {
    img {
      border-radius: 12px;
    }
    .about-us__group-compani__cards {
      gap: 21px;
    }
    .container {
      display: flex;
      flex-direction: column;
      margin-top: 92px;
    }

    &__statistics {
    }
    &__history {
      img {
        width: 100%;
      }
    }

    &__group-compani {
      margin-top: 30px;
    }
  }
}
@media (max-width: 600px) {
  .about-us {
    &__statistics {
      gap: 30px 0;
      &__title {
        font-size: 36px;
        line-height: 40px;
      }
      &__title-now {
        font-size: 17px;
        line-height: 20px;
      }
      &__parasite {
        gap: 20px;
        &__block {
        }
      }
      &__card {
        :first-child {
          font-size: 18px;
          line-height: 22px;
        }
        :last-child {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
    &__history {
      margin-top: 20px;
      p {
        margin-top: 20px;
        line-height: 22px;
      }
    }
    &__group-compani {
      margin-top: 30px;
      &__title {
        font-size: 20px;
        line-height: 24px;
      }
      &__cards {
        grid-column-gap: 21px;
      }
    }
  }
}
