/** @format */

.brands {
  padding-top: 100px;
  .container {
    grid-template-areas:
      "title title title"
      "first second third";
  }
  &__block {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0 100px;
    grid-gap: 45px 0;
    height: 285px;
    &__img {
      margin: auto;
      max-width: 170px;
      &:hover {
        img {
          transition: 0.8s !important;
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }

    &:first-of-type {
      grid-area: first;
      margin-left: -30px;
    }
    &:nth-of-type(2) {
      grid-area: second;
    }
    &:nth-of-type(3) {
      grid-area: third;
      margin-right: -30px;
    }
  }
  &__title {
    grid-area: title;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: $violet;
  }
}
@media (max-width: 1570px) {
  .brands__block__img {
    width: 80%;
  }
}
@media (max-width: $ipadWidth) {
  .brands {
    padding-top: 40px;
    .container {
      gap: 30px;
      margin-bottom: 40px;
      grid-template-areas:
        "title "
        "first"
        "second"
        "third";
    }
    &__block {
      margin: 0;
      grid-gap: 20px;
      .brands__block__img {
        width: 100%;
        text-align: center;
        max-width: 130px;
        max-height: 100px;
      }

      &:first-of-type {
        margin-left: 0;
      }
      &:nth-of-type(3) {
        margin-right: 0px;
      }
    }
  }
}
@media (max-width: 600px) {
  .brands {
    &__title {
      font-size: 34px;
      line-height: 40px;
      font-weight: 600;
    }
  }
}
