/** @format */

.coverage-map {
  .active-info {
    z-index: 1;
    opacity: 1;
  }
  .close-modal-info-contact {
    position: absolute;
    top: 5px;
    right: 5px;
    img {
      width: 12px;
    }
  }
  scroll-behavior: smooth;
  background-color: $gray;
  .container {
    padding-top: 80px;
    position: relative;
    &:after,
    &:before {
      display: none;
    }
  }
  &__info-contact {
    position: absolute;
    z-index: -1;
    opacity: 0;
    font-size: 70%;
    line-height: 90%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    // pointer-events: none;
    h4 {
      font-size: 120%;
      line-height: 150%;
      font-weight: bold;
    }
    &::after {
      content: "";
      position: absolute;
      border: 10px solid transparent;
      border-top: 10px solid white;
      left: 116px;
      top: 88px;
    }
    &__odessa {
      top: 171px;
      left: 219px;
      &::after {
        left: 162px;
        top: 224px;
      }
    }
    &__nikolaev {
      left: 282px;
      bottom: 212px;
      &::after {
        left: 162px;
        top: 88px;
      }
    }
    &__herson {
      left: 380px;
      bottom: 167px;
      &::after {
        top: 79px;
      }
    }

    &__zaporiz {
      left: 466px;
      bottom: 246px;
    }
    &__dnipro {
      left: 417px;
      bottom: 310px;
      &::after {
        left: 154px;
        top: 156px;
      }
    }
    &__krop {
      left: 300px;
      bottom: 301px;
      &::after {
        left: 154px;
      }
    }
  }
  &__map {
    position: absolute;
    right: 60px;
    top: 60px;
    svg {
      width: 100%;
    }
  }

  &__info {
    &__title {
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      color: $violet;
    }
    &__title-now {
      margin-top: 20px;
    }
    &__text {
      margin-top: 30px;
      display: flex;
      p {
        font-weight: bold;
        font-size: 64px;
        line-height: 79px;
      }
      .wrap {
        display: flex;
        :first-child {
          width: 70px;
        }
      }
    }
    &__description {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin: auto 0 18px 25px;
      color: black;
    }
    &__region {
      color: white;
      p {
        -webkit-text-stroke: 1px $violet;
      }
    }
    &__purpose {
      color: $lightViolet;
    }
    &__region-now {
      color: $violet;
    }
    &__cities {
      margin-top: 30px;
      margin-bottom: 60px;
    }

    &__city {
      display: flex;
      margin-bottom: 20px;
      p {
        margin-right: 40px;
        &.odessa {
          grid-area: o;
        }
      }
      span {
        font-weight: bold;
        color: $violet;
      }
      p.nikolaev {
        grid-area: n;
      }
      p.herson {
        grid-area: h;
      }
      p.dnepr {
        grid-area: d;
      }
      p.zaporiz {
        grid-area: z;
      }
      p.kropyv {
        grid-area: k;
      }
    }
  }
}
@media (max-width: 1470px) {
  .coverage-map {
    &__map {
      width: 700px;
    }
    &__info-contact {
      &::after {
        left: 164px;
        top: 155px;
      }
      &__odessa {
        top: 146px;
        left: 154px;
        &::after {
          top: 224px;
        }
      }
      &__nikolaev {
        left: 210px;
        bottom: 220px;
        &::after {
          left: 160px;
          top: 88px;
        }
      }
      &__herson {
        left: 298px;
        bottom: 187px;
        &::after {
          left: 115px;
          top: 79px;
        }
      }
      &__zaporiz {
        left: 370px;
        bottom: 253px;
        &::after {
          left: 116px;
          top: 87px;
        }
      }
      &__dnipro {
        left: 320px;
        bottom: 300px;
        &::after {
          left: 156px;
          top: 156px;
        }
      }
      &__krop {
        left: 223px;
        &::after {
          left: 156px;
          top: 87px;
        }
      }
    }
  }
}

@media (max-width: 1340px) {
  .coverage-map {
    &__info {
      &__text {
        flex-direction: column;
      }
      &__description {
        width: 360px;
        margin: 0;
      }
    }
    &__map {
      top: 90px;
    }
  }
}
@media (max-width: 1100px) {
  .coverage-map {
    &__info {
      &__description {
        width: 260px;
      }
    }
    &__map {
      top: 100px;
      right: 20px;
    }
  }
}

@media (max-width: 899px) {
  .coverage-map {
    &__info {
      &__cities {
        margin-top: 600px;
        margin-bottom: 30px;
      }
      &__description {
        width: 100%;
      }
      &__city {
        p {
          width: 33%;
        }
      }
    }
    &__map {
      width: 100%;
      top: 45%;
      right: 0;
      svg {
        padding: 0 20px;
      }
    }
    &__info-contact {
      &__odessa {
        top: 170px;
        left: 228px;
        &::after {
          top: 224px;
          left: 181px;
        }
      }
      &__nikolaev {
        left: 287px;
        bottom: 216px;
        &::after {
          top: 87px;
          left: 144px;
        }
      }
      &__herson {
        left: 336px;
        bottom: 183px;
        &::after {
          top: 78px;
        }
      }
      &__zaporiz {
        left: 400px;
        bottom: 245px;
        &::after {
          left: 125px;
          top: 88px;
        }
      }
      &__dnipro {
        left: 351px;
        bottom: 300px;
        &::after {
          left: 165px;
          top: 156px;
        }
      }
      &__krop {
        left: 220px;
        &::after {
          left: 193px;
          top: 88px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .coverage-map {
    .container {
      padding-top: 40px;
    }
    &__info {
      &__cities {
        margin-top: 520px;
      }
    }
    &__map {
      top: 40%;
    }
  }
}
@media (max-width: 600px) {
  .coverage-map {
    &__info-contact {
      left: 50%;
      margin-left: -130px;
      width: 65%;
      &::after {
        display: none;
      }
    }
  }
  .coverage-map {
    &__info {
      .wrap:first-child {
        width: 48px;
      }
      &__title {
        font-size: 42px;
        line-height: 51px;
      }
      &__description {
        font-size: 18px;
        line-height: 23px;
      }
      .coverage-map__info__cities {
        margin-top: 360px;
      }

      &__city {
        display: grid;
        &__first {
          grid-template-areas:
            "o o"
            "n h";
        }
        &__second {
          grid-template-areas:
            "d d"
            "z k";
        }
        .nikolaev {
          margin-right: -120px;
        }
        margin-bottom: 0;

        p,
        span {
          width: 100% !important;
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 12px;
          margin-right: 0;
        }
      }

      &__text {
        p {
          font-size: 42px;
          line-height: 51px;
        }
      }
    }

    .coverage-map__map {
      top: 36.5%;
    }
  }
}
@media (max-width: 377px) {
  .coverage-map {
    &__info {
      &__title {
        font-size: 36px;
        line-height: 40px;
      }
      &__title-now {
        font-size: 14px;
        line-height: 17px;
      }
      &__cities {
        margin-top: 300px;
      }

      &__city {
        p,
        span {
          font-size: 12px;
          line-height: 15px;
        }
      }

      &__text {
        p {
          font-size: 36px;
          line-height: 45px;
        }
      }

      &__description {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__map {
      top: 32%;
      svg {
        padding: 0;
      }
    }
  }
}
