/** @format */

.header {
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 10;
  &:before, &:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 20px;
    margin-top: -20px;
    background: #E9E9E9;
    z-index: -1;
  }

  &:before{
    left: 35.3%;
  }
  &:after{
    right: 35.3%;
  }

  .container {
    padding-bottom: 15px;
    padding-top: 12px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 80px;
    position: relative;
    &:after{
      display: none;
    }
  }
  .button-type-one {
    padding: 12px 20px;
    align-self: center;
  }
  &__mob {
    display: none;
    margin: auto 0 0;
    .button-type-none {
      z-index: 2;
      position: relative;
      height: 16px;
      width: 32px;
      span:after,
      span:before {
        content: "";
        position: absolute;
        background: $violet;
        display: block;
        border-radius: 1px;
        right: 0;
        top: 0;
        height: 2px;
        width: 32px;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
      }
      span:before {
        top: 12px;
      }
    }
    &__modal {
      position: absolute;
      top: 0;
      right: -800px;
      background-color: white;
      width: 100%;
      height: 100vh;
      z-index: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .button-type-one {
        display: block;
      }
      .logo {
        width: 112px;
        margin-top: 12px;
        margin-left: 20px;
      }
      .nav {
        text-align: center;
        li {
          margin-bottom: 30px;
        }
        .link {
          color: $violet;

          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
          &:hover {
            color: $white !important;
            transition: 0.8s;
            background: $violet;
          }
        }
      }
      .button-type-one {
        margin: 10px auto 0;
        padding: 15px 30px !important;
      }
    }
  }
}
.nav-atc {
  span {
    &::after {
      transform: rotate(-45deg);
      top: 25% !important;
    }
    &::before {
      transform: rotate(45deg);
      top: 25% !important;
    }
  }
}
.header {
  .container.mod {
    &:after{
      transition: all 0.2s linear;
      z-index: -1;
    }

  }
}
.nav-modal-act {
  transition: all 0.2s linear;
  right: 0;
}
.links {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  li{
    position: relative;
    z-index: 1;
    &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $violet;
      transition: all .1s ease-out;
    }
    &:hover {
      &:before {
        transition: all .5s ease-out;
        width: 100%;
      }
      .link{
        color: $white;
        transition: all .7s ease-out;
      }
    }
  }
}

.link {
  line-height: 19px;
  padding: 2px 8px;
  position: relative;
  height: 100%;
  z-index: 2;
}
.contacts-mod{
  &:before{
    display: none;
  }
  &:after{
    left: 50%;
  }
}
@media (max-width: 1900px) {
  .header{

    &:before{
      left: 33.3%;
    }
    &:after{
      right: 33.3%;
    }
  }
}
@media (max-width: 1255px) {
  .links {
    gap: 15px;
  }
  .header {
    .container {
      gap: 35px;
    }
  }
}

@media (max-width: 1000px) {
  .links {
    gap: 10px;
  }
  .header {
    .container {
      gap: 15px;
    }
  }
}
@media (max-width: 940px) {
  .links {
    gap: 5px;
  }
  .header {
    .container {
      gap: 5px;
    }
  }
  .header {
    .container {
      grid-template-columns: 120px 1fr auto;
    }
  }
  .header {
    .button-type-one {
      padding: 12px 10px;
    }
  }
}
@media (max-width: 820px) {
  .links {
    gap: 0;
  }
  .header {
    .container {
      gap: 2px;
    }
  }
  .header {
    .container {
      grid-template-columns: 100px 1fr auto;
    }
  }
  .header {
    .button-type-one {
      padding: 10px 5px;
    }
  }
}

@media (max-width: $ipadWidth) {
  .links {
    display: none;
  }
  .logo {
    width: 113px;
    z-index: 2;
  }
  .header {

      &:before, &:after{
       display: none;
      }

    .container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      &:after{
        display: block;
        z-index: 1;
        top: 20px;
      }
    }
    .button-type-one {
      display: none;
    }
    &__mob {
      display: flex;
      &__modal {
        .button-type-one {
          display: block;
        }
      }
    }
  }
}
