/** @format */

.logistics {
  background-color: $gray;
  img{
    border-radius: 16px;
    height: 100%;
  }
  .container {
    grid-template-areas:
      "title title"
      "indicators chartMeter "
      "img chartTons ";
    grid-gap: 30px 70px;
    padding: 80px 60px 98px;
  }
  &__title {
    grid-area: title;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: $violet;
  }
  &__indicators {
    max-width: 440px;
    &__cards {
      grid-area: indicators;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
    &__card {
      background-color: #fff;
      max-width: 133px;
      text-align: center;
      padding: 12px 0;
      border-radius: 12px;
      :first-child {
        color: $violet;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
      }
      :last-child {
        font-size: 16px;
        line-height: 19px;
      }

      .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
      }
    }
    &__title {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  &__chart-meters {
    grid-area: chartMeter;
  }
  &__img {
    grid-area: img;
    img {
      width: 100%;
    }
  }
  &__chart-tons {
    grid-area: chartTons;
  }
  &__chart {
    background-color: white;
    padding: 20px 24px 14px;
    border-radius: 16px;
    height: 300px;
    margin: auto 0 0;
    h3 {
      margin-bottom: 22px;
    }
    .wrap{
      width: 100%;
    }
  }
}
@media (max-width: 1500px) {
  .logistics__indicators__card :last-child{
    font-size: 13px;
  }
  .logistics {
    .container {
      grid-gap: 30px 10px;
      grid-template-columns: 25% 1fr;
    }
  }


}
@media (max-width: 1200px) {
  .logistics__indicators__cards{
    grid-template-columns: 1fr 1fr;
  }
  .logistics {
    .container {
      grid-template-areas:
        "title title "
        "indicators img "
        "chartMeter chartMeter "
        "chartTons chartTons ";
      padding: 40px 30px 20px;
    }
    &__img {
      display: flex;
      align-items: flex-end;
    }
  }
}

@media (max-width: $ipadWidth) {
  .logistics {
    .logistics__indicators__cards{
      grid-template-columns: 1fr 1fr 1fr;
    }

    .logistics__chart {
      overflow-x: scroll;
      overflow-y: hidden;
      height: 314px;
      .wrap {
        width: 924px;
        white-space: nowrap;
        overflow: auto;

        .canvas {
          width: 924px;
          height: 242px !important;
        }
      }
      }
    img{
      border-radius: 12px;
    }
    &__indicators {
      max-width: 100%;
    }
    .container {
      grid-template-areas:
        "title"
        "indicators"
        "img"
        "chartMeter "
        "chartTons" !important;
      grid-template-columns: 1fr !important;
      grid-gap: 10px !important;
      padding: 40px 20px 20px !important;
    }


    &__indicators {

      &__cards {
        grid-auto-flow: row;
        grid-auto-rows: auto;
        justify-items: center;
      }
      &__card {
        min-width: 105px;
      }
    }
  }
}

@media (max-width: 600px) {
  .logistics {
    &__title {
      font-size: 36px;
      line-height: 40px;
    }
    &__indicators {
      &__title {
        font-size: 16px;
        line-height: 20px;
      }
      &__cards {
        grid-gap: 10px;
      }
    }
    .logistics__chart {
    }
  }

  .logistics__indicators__card :first-child {
    font-size: 18px;
    line-height: 22px;
  }
  .logistics__indicators__card :last-child {
    font-size: 14px;
    line-height: 18px;
  }
}
