.news-page{
    margin-top: 68px;
    padding-top: 80px;
    padding-bottom: 80px;
    .container{
        text-align: center;
    }
    &__title{
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        color: $violet;
        margin-bottom: 60px;
    }
    &__wrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px 120px;
        justify-content: space-between;
    }
    .news-card {
        &:hover {
            transition: ease-in 0.3s;
        }
    }
}
@media (max-width: 1200px) {
    .news-page__wrap{
        grid-gap: 60px;
    }
}

@media (max-width: 980px) {
    .news-page__wrap {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: $ipadWidth) {
    .news-page{
        margin-top: 52px;
        padding: 40px 0;
        &__title{
            margin-bottom: 20px;
        }
        .news-page__wrap{
            grid-gap: 30px;
        }
    }
    

}
@media (max-width: 600px) {
    .news-page{
        &__title{
            font-size: 36px;
            line-height: 40px;
        }
        .news-page__wrap{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}